{%- for item in include.collection -%}
  {%- if item.url -%}
    <a href="{{ item.url }}">{{ item.title | downcase }}</a>
  {%- else -%}
    <h2>{{ item.title | downcase }}</h2>
  {%- endif -%}

  {%- if item.post_list -%}
    {%- include post_list.html 
        category=item.post_list.category | downcase 
        limit=item.post_list.limit 
    -%}
  {%- endif -%}

  {%- if item.entries -%}
    {%- assign lowercase_entries = item.entries | map: 'title', 'downcase' -%}
    {%- include menu_item.html collection=lowercase_entries -%}
  {%- endif -%}
{%- endfor -%}